@import "../../index.css";

.category {
	width: 120px;
	padding: 0.4rem 1.4rem;
	background-color:rgb(41, 41, 41);
	border-radius: 20px;
	cursor: pointer;
	box-shadow: 2px 2px 7px black, 1px 1px 7px rgb(72, 71, 71) inset;
    transition: all 0.3s ease;
	text-align: center;
	position: relative;
	top: 17%;

}

.category:hover {
	transform: scale(110%);	
    background-color: transparent;
}
