@import "../../index.css";

.video-card-container {
	padding: 0.6rem;
}

.video-card {
	width: 230px;
	display: flex;
	flex-direction: column;
	/* box-shadow: 1px 1px 10px rgb(0, 0, 0) , 1px 1px 10px rgb(79, 78, 78) inset; */
	padding: 0.6rem;
	cursor: pointer;
	margin-bottom: 1rem;
	transition: all 0.3s linear;
}

.video-image img {
	width: 100%;
	height: 120px;
	object-fit: fill;
	margin-bottom: 0.4rem;
}

.video-detail {
	width: 100%;
	height: 1.2rem;
	display: flex;
	margin-top: 0.4rem;
}

.video-title p {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	font-weight: 600;
	font-size: 0.9rem;
}

.video-detail p {
	font-size: 0.8rem;
	margin: auto 0.4rem auto 0;
	color: rgb(206, 206, 206);
}

.video-channel-logo {
	display: flex;
	align-items: center;
	margin-top: 0.4rem;
}

.video-channel-logo img {
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	margin-right: 0.8rem;
}

.video-channel-logo p {
	font-size: 0.9rem;
	color: rgb(206, 206, 206);
	font-weight: 600;
}

.video-card:hover {
	transform: scale(110%);
}

@media (max-width: 540px) {
	.video-card-container {
		width: 100%;
	}
	.video-card {
		width: 100%;
	}
}
