@import "../../index.css";

.explore-screen {
	width: 100%;
	height: 100%;
	background-color: rgb(37, 38, 38);
}

.explore-items {
	padding: 1.4rem 2rem;
	width: 100%;
	height: auto;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
    gap: 2rem;
}
